html{
    font-family: Garamond;
    text-align: center;
}

div.all{
    display: flex;
    flex-direction: row;
}

main{
    display: flex;
    flex-direction: column;
    width: 72%;
}

header{
    background-color: #795548;
    font-size: 170%;
}

div.main{
    height: 400px;
}

aside{
    display: flex;
    flex-direction: column;
    background-color: #BCAAA4;
    color: #795548;
    width: 28%;
}
div.aside,div.aside2{
    height: 400px;
}

footer{
    background-color: #795548;
    color: white;
    padding: 20px;
}

table{
    margin: auto;
    width: 80%;
    border: solid 1px #795548;
}

tr:hover {
    background-color: sienna;
    color: white;
}

h4{
    font-size: 200%;
}

img{
    padding: 20px;
    border-radius: 40px;
}

a{
    color: white;
}

label{
    margin: 7px;
    display: block;
}